*{
    background-color: rgb(69, 67, 67);
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 10vw;
    color: rgb(125, 176, 100);
    margin-bottom: 5%;
}

p{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 5vw;
    color: rgb(255, 255, 255);
    margin-bottom: 5%;
}

.main{
    display: flex;
    justify-content: center;
}

.player{
    display: inline-block;
    width: 25%;
    padding: 0 5%;
}

img{
    width: 100%;
    padding: 2%;
}